@import url("https://fonts.googleapis.com/css2?family=Anton&family=Averia+Serif+Libre&family=Chango&display=swap");

body {
	font-family: "Averia Serif Libre", cursive;
	font-size: inherit;
	background-color: #282c34;
	color: #abb2bf;
}

h1 {
	font-family: "Roboto Mono", monospace;
	font-size: 4rem;
	color: #e6c07b;
	text-align: center;
}

header {
	text-align: center;
}

a {
	color: hsl(207, 81%, 66%);
}

a:hover {
	color: hsl(235, 81%, 66%);
}

footer {
	text-align: center;
	font-size: 1rem;
}
