@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.searchButton {
	background-color: hsl(20, 68%, 69%);
	font-size: 1.25rem;
	width: 20%;
	height: 2.5rem;
	margin: 1%;
	border-radius: 4px;
	border: 1px solid;
}

.gameNameInput {
	width: 70%;
	height: 2.2rem;
	margin: 1%;
	font-size: 1.25rem;
	border-radius: 4px;
}

.tweet {
	margin-top: 4%;
	align-self: center;
	justify-content: center;
	width: min(550px, 90%);
	height: 839px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.item {
	align-self: center;
	justify-content: center;
	width: 90%;
}

.padding {
	justify-self: center;
	align-self: center;
}
