@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.searchButton {
	background-color: hsl(20, 68%, 69%);
	font-size: 1.25rem;
	height: 2.5rem;
	border-radius: 4px;
	border: 1px solid;
}

.gameNameInput {
	height: 2.2rem;
	font-size: 1.25rem;
	border-radius: 4px;
}

.col3 {
	float: right;
	width: 25%;
}
.col9 {
	float: left;
	width: 73%;
}

/* For mobile and tablets */
@media only screen and (max-width: 768px) {
	.col3 {
		align-self: center;
		padding-top: 1%;
		width: 100%;
	}

	.col9 {
		padding-top: 1%;
		width: 98.5%;
	}
}

.tweet {
	margin-top: 4%;
	align-self: center;
	justify-content: center;
	width: min(550px, 90%);
	height: 839px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formGrid {
	display: grid;
	width: 100%;
}

.formGrid::after {
	content: "";
	clear: both;
	display: table;
}

.searchForm {
	align-self: center;
	justify-content: center;
	width: 80%;
}

.padding {
	justify-self: center;
	align-self: center;
}
